<!DOCTYPE html>
<html lang="en">


<body>


  <header> <% include ../views/partials/_header %> </header>

  <div>
    <a href="/urls/new">Shorten a new URL!</a>
  </div>

  <% for (var key in urls) { %>
  <%=urls[key]%>
  <% } %>
</body>

</html>