<!DOCTYPE html>
<html lang="en">


<body>


  <header> <% include ../views/partials/_header %> </header>

  <div>
    <a href="/urls/new">Shorten a new URL!</a>
  </div>

  <% for (var key in urls) { %>
  <p><ul><li><%=urls[key].shortURL%> -- <%=urls[key].longURL%>



  <form method="POST" action="http://localhost:3000/urls/<%= urls[key].shortURL %>?_method=DELETE">
  <button type="submit">Delete URL</button>
  </form>

<a href="/urls/<%= urls[key].shortURL %>/edit">Change URL</a>


  </li></ul>
  <% } %>





</body>

</html>