<!DOCTYPE html>
<html lang="en">


<body>

  <header> <% include ../views/partials/_header %> </header>

<p><a href="/urls">Back to the Homepage</a>

<p><a href="/urls/new">CLICK HERE TO ENTER NEW URL</a>

  <p>Here's your long URL: <a href= "<%=url.longURL%>"><%=url.longURL%></a>
  <p>Here's your short URL: <a href= "/u/<%=url.shortURL%>"><%=url.shortURL%></a>
</body>

</html>