<!DOCTYPE html>
<html lang="en">


<body>


  <header> <% include ../views/partials/_header %> </header>

   <a href="/urls">Go back to the homepage!</a>

   <h2>ShortURL: <%= shortURL %></h2>

    <form action="/urls/<%= shortURL %>/edit?_method=PUT" method="POST" style="margin:150px;">
      <label for="longURL">Enter your new URL</label>
      <input id="longURL" type="text" name="longURL" style="width: 300px" value="<%= longURL %>">
      <input type="submit" value="Submit">
    </form>




<!--
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="enter your new URL here" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
 -->
</body>

</html>